.Page-Header {
    margin: 100px 10px 10px 10px;
    font-family: "Calibri";
    font-size: 120%;
    color: #007BFF;
}
.Page-H1 {
    font-family: "Calibri";
    font-size: 100%;
    color: #007BFF;
}
.Page-H2 {
    font-family: "Calibri";
    font-size: 100%;
    color: #3F3F3F;
}
.Page-H3 {
    font-family: "Calibri";
    font-size: 80%;
    color: #3F3F3F;
}
.UserData {
margin: 5px 5px 5px 5px;
padding: 10px 5px 5px 10px;
border-width: 2px;
border-style: none;
border-color: #A0A0A0;
width: 80%;
background-color: #E0E0E0;
}

.UserData td {
    font-family: "Calibri";
    font-size: 100%;
    color: #007BFF;
    padding: 5px;
    float: left;
    width: 24%;
    border-collapse: collapse;
    border: 0px solid black;
    padding: 15px,5px,5px,25px;
    text-align: left;
    border-spacing: 5px;
}

.Table {
    width: 100%;
    border-collapse: collapse;
    border: 0px solid black;
    padding: 5px;
    text-align: left;
    border-spacing: 5px;
}
