.LocationList {
    position: absolute;
    float: right;
    padding (40%,40%,40%,40%);
    color: #AAAAAA;
    }

.LocName {
    position: relative;
    float: right;
    font: 400 13.3333px Arial;
    padding (40%,40%,40%,40%);
    text-rendering: auto;
    color: #80F080;
    font-size: 90%;
    background-color: #404040;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    }