{% extends 'main/main.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zukunft-Deutschland</title>
</head>
<body class="Block-Body">

    {% block content %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/future_de.css' %}">
    {% endblock %}

    <div class="Template-01-Headline-Links">
        <a href={{ SiteInfo.MainPage_Link_01 }} >&nbsp{{ SiteInfo.MainPage_LinkName_01 }}&nbsp</a>
        <a href={{ SiteInfo.MainPage_Link_02 }} >&nbsp{{ SiteInfo.MainPage_LinkName_02 }}&nbsp</a>
        <a href={{ SiteInfo.MainPage_Link_03 }} >&nbsp{{ SiteInfo.MainPage_LinkName_03 }}&nbsp</a>
        <a href={{ SiteInfo.MainPage_Link_04 }} >&nbsp{{ SiteInfo.MainPage_LinkName_04 }}&nbsp</a>
        <a href={{ SiteInfo.MainPage_Link_05 }} >&nbsp{{ SiteInfo.MainPage_LinkName_05 }}&nbsp</a>
<!---
        <a href={{ SiteInfo.MainPage_Link_06 }} >{{ SiteInfo.MainPage_LinkName_06 }}</a>
        <a href={{ SiteInfo.MainPage_Link_07 }} >{{ SiteInfo.MainPage_LinkName_07 }}</a>
        <a href={{ SiteInfo.MainPage_Link_08 }} >{{ SiteInfo.MainPage_LinkName_08 }}</a>
        <a href={{ SiteInfo.MainPage_Link_09 }} >{{ SiteInfo.MainPage_LinkName_09 }}</a>
--->
    </div>

    <div class="Template-01-MainImage">
        <img src="{% static '/images/MainImage_Future-De_01.jpg' %}" class="Template-01-MainImage01">
    </div>

    <div class = "Template-01-MainPage_Header">
        <div class = "Template-01-MainPage_Headline">
            <p>{{ SiteInfo.MainPage_Headline }}</p>
        </div>

        <div class = "Template-01-MainPage_HeaderText">
            <p >{{ SiteInfo.MainPage_HeaderText }}</p>
        </div>
    </div>
    <div class="Template-01-SideText">
        <div class="Template-01-SideTextSub">
            <a class="Template-01-ParagraphHeader_01"> {{ SiteInfo.MainPage_ParagraphHeader_01 }} </a>
            <a class="Template-01-ParagraphSubHeader_01"> {{ SiteInfo.MainPage_ParagraphSubHeader_01 }} </a>
            <a class="Template-01-ParagraphText_01"> {{ SiteInfo.MainPage_ParagraphText_01 }} </a>
            <a class="Template-01-ParagraphImage_01"> {{ SiteInfo.MainPage_ParagraphImage_01 }} </a>
        </div>

        <div class="Template-02-SideTextSub">
            <a class="Template-02-ParagraphHeader_02"> {{ SiteInfo.MainPage_ParagraphHeader_02 }} </a>
            <a class="Template-02-ParagraphSubHeader_02"> {{ SiteInfo.MainPage_ParagraphSubHeader_02 }} </a>
            <a class="Template-02-ParagraphText_02"> {{ SiteInfo.MainPage_ParagraphText_02 }} </a>
            <a class="Template-02-ParagraphImage_02"> {{ SiteInfo.MainPage_ParagraphImage_02 }} </a>
        </div>

        <div class="Template-03-SideTextSub">
            <a class="Template-03-ParagraphHeader_03"> {{ SiteInfo.MainPage_ParagraphHeader_03 }} </a>
            <a class="Template-03-ParagraphSubHeader_03"> {{ SiteInfo.MainPage_ParagraphSubHeader_03 }} </a>
            <a class="Template-03-ParagraphText_03"> {{ SiteInfo.MainPage_ParagraphText_03 }} </a>
            <a class="Template-03-ParagraphImage_03"> {{ SiteInfo.MainPage_ParagraphImage_03 }} </a>
        </div>
    </div>

    {% endblock %}
</body>
</html>