{% load static %}
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/screens.css' %}">
    </head>

 <body>
    <div>
        <a href="{% url 'screens:renew_screens' pk=10 %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h2>Edit Screens</h2>
        <a class="page-header"> </a>
            <h1>Dies ist die Seite SCREENS in der BASE.HTML</h1>
            <p>Screen Code: {{ actual_screen.ScreenCode }}</p>
            <p>Screen Name: {{ actual_screen.ScreenName }}</p>
            <p>Screen Width: {{ actual_screen.ScreenWidth }}</p>
            <p{% if actual_screen.IsMobile %} class="text-danger"{% endif %}>Mobile Wand: {{ actual_screen.IsMobile }}</p>
            <p>Wand ist mobil: {{ actual_screen.IsMobile }}</p>

    </div>


    <form method="POST" class="edit_screens">
        {% csrf_token %}
         <table>
            {{ form.as_table }}
        </table>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <form action="/team_name_url/" method="post">
        <label for="team_name">Enter name: </label>
        <input id="team_name" type="text" name="name_field" value="Default name for team.">
        <input type="submit" value="OKEY DOKE">
    </form>
 </body>