{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/screens.css' %}">
    <title>Das ist die Seite SCREEN_INFOS in der SCREENINFO.HTML</title>
</head>

<body>
<div class="page-header">
    <h1>Das ist die Seite SCREEN-INFO in der SCREENINFO.HTML</h1>
</div>

<!-- Das ist eine Kommentarzeile-->
    <div class="Screen-Info">
        <a>SCREENINFO--------------------------------</a>
        <h2><a href="% url 'screens_view' pk= pk %">{{ Wall.ScreenCode }}</a></h2>
        <p>Screen Name : {{ Wall.ScreenName }} - {{ Wall.pk }} </p>
        <p class="Screen-Infos"> Screen Infos: Width={{ Wall.ScreenWidth}} Height={{ Wall.ScreenHeight }} XPitch={{ Wall.XPitch }} YPitch={{ Wall.YPitch }} IsMobile={{ Wall.IsMobile }} Location Code={{ Wall.LocationCode }} <hr></p>
    </div>



</body>
</html>