{% extends 'screens/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/screens.css' %}">
    <title>Das ist die Seite SCREENS in der INDEX.HTML</title>
</head>

<body>
<div class="page-header">
    <h1>Das ist die Seite SCREEN-INFO in der SCREENINFO.HTML</h1>
</div>

<!-- Das ist eine Kommentarzeile-->



</body>
</html>