{% extends 'main/main.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Impressum</title>
</head>

<body>
    {% block content %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/imprint.css' %}">

        <div class="Imprint">
        <h1> Impressum </h1>
            <br>
        <h3>Diese Seite befindet sich noch im Aufbau</h3>
        <h3>Du bist auf einer Entwicklungsversion gelandet</h3>
        <br>
            <div>
                <br>
                <h4>Während der Entwicklung verantwortlich ist:</h4>
                <a href="https://www.novotech.de"> BUSSE Computer NOVOTECH® GmbH </a>
                <p> Thomas Busse (Geschäftsführer) </p>
                <a> Wildshausener Str. 77 </a> <br>
                <a> 59872 Meschede-Freienohl </a> <br>
                <a> Telefon: +49 (0) 2937 969 80 - 100 </a> <br>
                <a> E-Mail: service@novotech.de </a> <br>
                <br>
                <p> ÖFFNUNGSZEITEN: </p>
                <a> Montag bis Donnerstag: </a> <br>
                <a> 09:00 bis 17:00 Uhr </a> <br>
                <a> Freitag: </a> <br>
                <a> 09:00 bis 15:00 Uhr </a> <br><br>

                <a> UST-IDNR. </a> <br>
                <a> DE 125 922 322 </a> <br> <br>

                <a> HANDELSREGISTER </a> <br>
                <a> Amtsgericht Arnsberg  |  HRA 3830 </a> <br><br>

                <a href="https://www.novotech.de/impressum"> Impressum BUSSE Computer NOVOTECH GmbH&nbsp&nbsp</a>
                <a href="https://www.novotech.de/datenschutz#c448"> Datenschutzerklärung </a> <br><hr>

                <a> Alle verwendeten Bilder sind selbst erstellt oder frei verfügbare Bilder von Pixabay </a> <br><br>
                <li><a href="https://pixabay.com/de/photos/bundestag-deutsche-fahne-reichstag-2463236/"> Bundestag </a></li>&nbsp
                <li><a href="https://pixabay.com/de/photos/server-wolke-entwicklung-gesch%C3%A4ft-1235959/"> Server </a></li>&nbsp
                <li><a href="https://pixabay.com/de/illustrations/cloud-computing-netzwerk-internet-2001090/">Cloud Computing </a></li>&nbsp
                <li><a href="https://pixabay.com/de/illustrations/netzwerk-daten-verbindung-3396348/"> Netzwerk blau</a></li>&nbsp
                <li><a href="https://pixabay.com/de/illustrations/netzwerk-erde-blockchain-globus-3537401/"> Netzwerk Erde</a></li>&nbsp
                <li><a href="https://pixabay.com/de/photos/smart-stadt-kommunikation-netzwerk-4168483/"> Smart City</a></li>&nbsp
                <li><a href="https://pixabay.com/de/illustrations/blockchain-wabe-hexagon-computer-4420014/"> Blockchain</a></li>&nbsp
                <li><a href="https://pixabay.com/de/illustrations/erde-globalisierung-netzwerk-3866609/"> Earth </a></li>&nbsp
                <li><a href="https://pixabay.com/de/photos/netzwerk-internet-verbindung-3148727/"> Netzwerk Verbindung</a></li>&nbsp
                <li><a href="https://pixabay.com/de/photos/reichstag-berlin-regierungsgeb%C3%A4ude-1358937/"> Dem Deutschen Volke</a></li>&nbsp
                <li><a href="#"> </a></li>
                <li><a href="#"> </a></li>
                <li><a href="#"> </a></li>
                <li><a href="#"> </a></li>
                <li><a href="#"> </a></li>



            </div>
        </div>
    {% endblock %}
    {% endblock %}
</body>
</html>