{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Zukunft-Deutschland</title>
</head>

<body>
    <div class="Main-Body">
        <canvas class="Small-Head-Line" title="HeadLine"></canvas>

        <div class="PageHead">
            <div>
                <img src="{% static '/images/Bundesadler.png' %}" id="logo01" class="Site-Logo-Eagle">
            </div>

            <div>
                <img src="{% static '/images/Deutschlandflagge.png' %}" id="logo02" class="Site-Logo-Flag">
            </div>

            <div class="Logo-MainHeadline">
                <a>Portal für Information und <br> Gestaltung der Zukunft der <br> Bundesrepublik Deutschland</a>
            </div>

        </div>

        <div class="Startpage-Media-Menu">
            <a href="Videos" class="Media-Menu01">Videos</a>
            <a href="Podcasts" class=Media-Menu02">Podcasts</a>
            <a href="Berichte" class="Media-Menu03">Berichte</a>
            <a href="Live" class="Media-Menu04">Live Streams</a>
        </div>

    <div class="Block-Content">
        {% block content %}
        {% endblock %}
    </div>

        <ul class="Main-Menu">
            <li><a href="#s1">Allgemein</a>
                <ul class="submenu">
                    <li><a href="/zukunft-deutschland">Unsere Idee</a></li>
                    <li><a href="https://www.novotech.de/impressum">Über uns</a></li>
                </ul>
            </li>

            <li class="active"><a href="#s2">Wirtschaft</a>
                <ul class="submenu">
                    <li><a href="#">Aktuelles (!)</a></li>
                    <li><a href="#">Genossenschaften(!)</a></li>
                    <li><a href="#">Kooperation(!)</a></li>
                    <li><a href="#">Konzepte(!)</a></li>
                    <li><a href="#">Jobs(!)</a></li>
                    <li><a href="#">Stellen(!)</a></li>
                </ul>
            </li>

            <li class="active"><a href="#s3">Medizin</a>
                <ul class="submenu">
                    <li><a href="#">Aktuelles(!)</a></li>
                    <li><a href="#">Downloads(!)</a></li>
                </ul>
            </li>

            <li class="active"><a href="#s4">Recht</a>
                <ul class="submenu">
                    <li><a href="#">Aktuelles(!)</a></li>
                    <li><a href="#">Urteile(!)</a></li>
                    <li><a href="#">Vorlagen(!)</a></li>
                    <li><a href="#">Downloads(!)</a></li>
                </ul>
            </li>

            <li class="active"><a href="#s5">Community</a>
                <ul class="submenu">
                    <li><a href="#">Aktuelles(!)</a></li>
                    <li><a href="#">Handwerker(!)</a></li>
                    <li><a href="#">Ausleihen(!)</a></li>
                    <li><a href="#">Tauschen(!)</a></li>
                    <li><a href="#">Hilfen(!)</a></li>
                    <li><a href="#">Schw. Brett(!)</a></li>
                </ul>
            </li>

            <li class="active"><a href="#s6">Sonstiges</a>
                <ul class="submenu">
                    <li><a href="#">Wisselblowing(!)</a></li>
                    <li><a href="#">Vorschläge(!)</a></li>
                    <li><a href="#">Schw. Brett(!)</a></li>
                </ul>
            </li>


            <li class="active"><a href="#s7">Login</a>
                <ul class="submenu">
                    <li><a href="/users">Anmelden</a></li>
                    <li><a href="#">Gruppen(!)</a></li>
                    <li><a href="#">Beitragen(!)</a></li>
                    <li><a href="#">Spenden(!)</a></li>
                    <li><a href="#">Info anfordern(!)</a></li>
                    <li><a href="#">Mitglied werden(!)</a></li>
                </ul>
            </li>

            <li class="active"><a href="#s9">Links</a>
                <ul class="submenu">
                    <li><a href="#">Ärzte(!)</a></li>
                    <li><a href="https://www.afa.zone/">Anwälte</a></li>
                    <li><a href="#">Polizisten(!)</a></li>
                    <li><a href="#">Richter & Staatsanwälte(!)</a></li>
                    <li><a href="#">Wir stehen zusammen(!)</a></li>

                </ul>
            </li>

            <li class="active"><a href="#s9">Sprache</a>
                <ul class="submenu">
                    <li><a href="/users">Deutsch</a></li>
                    <li><a href="#">English</a></li>
                    <li><a href="#">Español</a></li>
                    <li><a href="#">Français</a></li>
                    <li><a href="#">Italiano</a></li>
                    <li><a href="#">Polski</a></li>
                </ul>
            </li>
    </div>

</body>
</html>



