{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>LEDvertise</title>
</head>

<body>
    <div class="Aurelius-Logo">
        <img src="{% static 'logo.svg' %}" id="logo" class="Aurelius-Logo-01">
    </div>

    <div class="VideoMainScreen">
        <video src="{% static 'LEDvertise®_357.mp4' %}" id="LEDvertise®_357" class="VideoMainScreen01"></video>
    </div>



    <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#s1">Screen</a>
            <ul class="submenu">
                <li><a href="/screens">Screens</a></li>
                <li><a href="/locations/locations/create_location">Locations</a></li>
                <li><a href="#">Groups</a></li>
                <li><a href="#">Positions</a></li>
            </ul>
        </li>

        <li class="active"><a href="#s2">Content</a>
            <ul class="submenu">
                <li><a href="#">Media</a></li>
                <li><a href="#">Playlists</a></li>
            </ul>
        </li>

        <li><a href="#">User</a>
            <ul class="submenu">
                <li><a href="#">Users</a></li>
                <li><a href="#">Groups</a></li>
                <li><a href="#">Submenu c</a></li>
                <li><a href="#">Submenu d</a></li>
                <li><a href="#">Submenu e</a></li>
                <li><a href="#">Submenu f</a></li>
                <li><a href="#">Submenu g</a></li>
                <li><a href="#">Submenu h</a></li>
            </ul>
        </li>

        <li><a href="#">LogIn</a></li>
        <li class="Aurelius"><a href="https://www.aurelius-bird.de/">Aurelius Bird®</a></li>
    </ul>


    <canvas id="HeadField" width="1920" height="1000"
    style="border:0px solid #101010;">
    </canvas>
    <script>
    var c=document.getElementById("HeadField");
    var ctx=c.getContext("2d");
    ctx.fillStyle="#202020";
    ctx.fillRect(0,0,screen.width,1000);
    </script>

<h2 class="IntroText01">Hallo Marc, Willkommen in Arnsberg</h2>

</body>
</html>



