{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>LEDvertise</title>
</head>

<body class="MainBody">

    <canvas id="HeadField01" width="1920" height="10" style="border:0px solid #3575F5;"> </canvas>
    <script>
        var c=document.getElementById("HeadField01");
        var ctx=c.getContext("2d");
        ctx.fillStyle="#4080FF";
        ctx.fillRect(0,0,screen.width,screen.height / 140);
    </script>

    <div class="Site-Logo01">
        <img src="{% static '/images/Bundesadler.png' %}" id="logo01" class="Site-Logo-01">
    </div>

    <div class="Site-Logo02">
        <img src="{% static '/images/Deutschlandflagge.png' %}" id="logo02" class="Site-Logo-02">
    </div>

    <div class="MainHeadline">
        <a>Verband für Information und <br> Gestaltung der Zukunft der <br> Bundesrepublik Deutschland</a>
    </div>

    <div class="Main-Logo">
        <a>Zukunft-Deutschland.Info</a>
    </div>

    <div class="SiteMenu">
        <h3 class="SiteMenu-Head">Aktuelles aus...</h3>

            <a href="Wirtschft">der Wirtschaft |  </a>
            <a href="Medizin">der Medizin |  </a>
            <a href="Recht">dem Recht |  </a>
            <a href="Wissenschaft">der Wissenschaft |  </a>

    </div>

    <div class="MainImage">
        <img src="{% static '/images/Corona_Main_Image01.jpg' %}" id="MainImage" class="Main-Image-01">
    </div>



<!--
    <div class="VideoMainScreen">
        <video src="{% static 'LEDvertise®_357.mp4' %}" id="LEDvertise®_357" class="VideoMainScreen01"></video>
    </div>
-->
    
    <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#s1">Allgemein</a>
            <ul class="submenu">
                <li><a href="/screens">Idee</a></li>
                <li><a href="/locations/locations/create_location">Locations</a></li>
                <li><a href="#">Groups</a></li>
                <li><a href="#">Positions</a></li>
            </ul>
        </li>

        <li class="active"><a href="#s2">Wirtschaft</a>
            <ul class="submenu">
                <li><a href="#">Aktuelles</a></li>
                <li><a href="#">Playlists</a></li>
            </ul>
        </li>

        <li class="active"><a href="#s3">Medizin</a>
            <ul class="submenu">
                <li><a href="#">Aktuelles</a></li>
                <li><a href="#">Downloads</a></li>
            </ul>
        </li>

        <li class="active"><a href="#s4">Recht</a>
            <ul class="submenu">
                <li><a href="#">Aktuelles</a></li>
                <li><a href="#">Urteile</a></li>
                <li><a href="#">Vorlagen</a></li>
                <li><a href="#">Downloads</a></li>
            </ul>
        </li>


        <li><a href="#">Benutzer</a>
            <ul class="submenu">
                <li><a href="/users">Neu</a></li>
                <li><a href="#">Anzeigen</a></li>
                <li><a href="#">Ändern</a></li>
                <li><a href="#">Gruppen</a></li>
                <li><a href="#">Submenu e</a></li>
                <li><a href="#">Submenu f</a></li>
                <li><a href="#">Submenu g</a></li>
                <li><a href="#">Submenu h</a></li>
            </ul>
        </li>

        <li><a href="#">LogIn</a></li>
        <li class="Aurelius"><a href="https://www.aurelius-bird.de/">Aurelius Bird®</a></li>
    </ul>

    <div class="col-md-8">
<!--                <hr><a>BLOCK MAIN--------------------------------</a>-->
        {% block content %}
        {% endblock %}
<!--        <br><hr><a>END BLOCK MAIN--------------------------------</a>-->
    </div>

</body>
</html>



