{% extends 'main/main.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<body class="Block-Body">

            {% block content %}
            <div class="Startpage-SiteMenu">
                <h4 class="SiteMenu-Head">Aktuelle Zahlen aus...</h4>
                <a href="#">der Wirtschaft&nbsp</a>
                <a>&nbsp &nbsp</a>
                <a href="#">der Medizin&nbsp</a>
                <a>&nbsp &nbsp</a>
                <a href="https://www.novotech.de/service/rechtsberatung">dem Recht&nbsp</a>
                <a>&nbsp &nbsp</a>
                <a href="https://www.novotech.de">der Informationstechnologie&nbsp</a>
                <a>&nbsp &nbsp</a>
                <a href="https://www.magic-mirror.shop/">der Wissenschaft&nbsp</a>
                <a>&nbsp &nbsp</a>
            </div>

            <div class="Startpage-MainImage">
                <img src="{% static '/images/Bundestag_Mainpage.jpg' %}" class="Startpage-MainImage01">
            </div>

            <div class="Startpage-Headline">
                <a>Das Portal für die Zukunft Deutschlands</a>
            </div>
            <div class="Startpage-Headline-Text">
                <p>Diese Internetportal ist nicht einfach eine weitere Web-Seite, sondern basiert auf morderner
                    Datenabanktechnolgie (Django Framework).<br> </p>

                <p>Es verwendet die gleichen Technologien wie die großen, weltweiten Portale.<br></p>

                <p>Es dient dazu, die einzelnen, aktiven
                    Gruppen besser zu vernetzen.<br></p>

                <p class="Preview-Info">DIES IST DIE ERSTE VORSCHAU &nbsp und noch weitgehend ohne Funktion!</p>

            </div>

            <div class="Startpage-Side-Text">
                <p>* Python- / Django- Entwickler gesucht!<br></p>
                <p>* Sponsoren zur Unterstützung gesucht!<br></p>
                <a>* Jede Art von Unterstützung ist Willkommen!</a>
            </div>
            <div class="Imprint">
                <p>Impressum &nbsp&nbsp&nbsp Datenschutz &nbsp&nbsp&nbsp Bildnachweis &nbsp&nbsp&nbsp Sitemap</p>
            </div>
            {% endblock %}

        </div>
</body>
</html>