{% extends 'main/main.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<body class="Block-Body">

            {% block content %}
            <div class="Startpage-SiteMenu">
                <h4 class="SiteMenu-Head">Aktuelles aus...</h4>
                <a href="Wirtschft">der Wirtschaft&nbsp</a>
                <a>&nbsp &nbsp</a>
                <a href="Medizin">der Medizin&nbsp </a>
                <a>&nbsp &nbsp</a>
                <a href="Recht">dem Recht&nbsp </a>
                <a>&nbsp &nbsp</a>
                <a href="Informationstechnologie">der Informationstechnologie&nbsp </a>
                <a>&nbsp &nbsp</a>
                <a href="Wissenschaft">der Wissenschaft&nbsp </a>
                <a>&nbsp &nbsp</a>
            </div>

            <div class="Startpage-MainImage">
                <img src="{% static '/images/Bundestag_Mainpage.jpg' %}" class="Startpage-MainImage01">
            </div>

            <div class="Startpage-Headline">
                <a>Das Portal für die Zukunft Deutschlands</a>
            </div>
            <div class="Startpage-Headline-Text">
                <p>Diese Internetportal ist nicht einfach eine Web-Seite, sondern basiert auf morderner
                    Datenabanktechnolgie (Python / Django). Es soll dazu dienen die einzelnen, aktiven
                Gruppen untereinander zu vernetzen.</p>
            </div>


            {% endblock %}
        </div>

</body>
</html>