{% extends 'main/main.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<body class="Block-Body">

            {% block content %}
            <div class="Startpage-SiteMenu">
                <h4 class="SiteMenu-Head">Aktuelles Zahlen aus...</h4>
                <a href="Wirtschft">der Wirtschaft&nbsp</a>
                <a>&nbsp &nbsp</a>
                <a href="Medizin">der Medizin&nbsp </a>
                <a>&nbsp &nbsp</a>
                <a href="Recht">dem Recht&nbsp </a>
                <a>&nbsp &nbsp</a>
                <a href="Informationstechnologie">der Informationstechnologie&nbsp </a>
                <a>&nbsp &nbsp</a>
                <a href="Wissenschaft">der Wissenschaft&nbsp </a>
                <a>&nbsp &nbsp</a>
            </div>

            <div class="Startpage-MainImage">
                <img src="{% static '/images/Bundestag_Mainpage.jpg' %}" class="Startpage-MainImage01">
            </div>

            <div class="Startpage-Headline">
                <a>Das Portal für die Zukunft Deutschlands</a>
            </div>
            <div class="Startpage-Headline-Text">
                <p>Diese Internetportal ist nicht einfach eine weitere Web-Seite, sondern basiert auf morderner
                    Datenabanktechnolgie (Django Framework).<br> </p>
                <p>Es dient dazu, die einzelnen, aktiven
                    Gruppen besser zu vernetzen.<br></p>
                <p>Jede Gruppe kann ihren eigenen Bereich selbst verwalten.<br>
                    Im Bereich "Community" können sich Nutzer unter ihrem Namen oder auch anonym austauschen und Infos hochladen.
                </p>
                <p>DIES IST DIE ERSTE VORSCHAU Und noch ohne Funktion!</p>

            </div>

            <div class="Startpage-Side-Text">
                <p>Um dieses Projekt realisieren zu können, benötigen wir Django-Entwickler.<br> </p>
                <br>
                <p>Oder Sponsoren, die bereit sind diese Plattform zu unterstützen<br></p>
                <br>
                <p>Jede Art von Unterstützung ist Willkommen!<br></p>
            </div>
            {% endblock %}
        </div>

</body>
</html>