<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="errorlist"><li>UserName<ul class="errorlist"><li>Enter a valid “slug” consisting of letters, numbers, underscores or hyphens.</li></ul></li><li>MiddleName<ul class="errorlist"><li>This field is required.</li></ul></li><li>SurName<ul class="errorlist"><li>This field is required.</li></ul></li><li>Phone<ul class="errorlist"><li>Users with this Phone already exists.</li></ul></li><li>MessengerID<ul class="errorlist"><li>Users with this MessengerID already exists.</li></ul></li></ul>
</body>
</html>