.Template-01-Headline-Links {
    float: right;
    padding: 0px 20px 0px 0px;
    word-spacing: 3px;
    color: #192536;
    font: "Calibri";
    font-size: 14px;
}

.Template-01-MainImage01 {
    position: absolute;
    padding: 15px 0px 0px 0px;
    float: left;
    width: 600px;
    margin: 20px 10px 10px 20px;
    z-index: 0;
    border-radius: 5px;
}

.Template-01-MainPage_Header {
    color: #192536;
    border-color: #192536;
    background-color: #F0F0F8;
    box-sizing: border-box;
    border: 3px solid;
    border-radius: 5px;
    float: left;
    font: "Liberation Sans Narrow";
    font-weight: 600;
    letter-spacing: 3px;
    text-align: left;
    font-size: 30px;
    position: absolute;
    margin: 32px 0px 0px 550px;
    padding: 5px;
    max-width: 48%;
    min-width: 30%;
    min-height: 80px;
    z-index: 1;
}

.Template-01-MainPage_Headline {

}

.Template-01-MainPage_HeaderText {
    color: #F0F0F8;
    background-color: #192536;
    border: 4px solid #192536;
    border-radius: 5px;
    float: left;
    font: "Liberation Sans Narrow";
    font-weight: normal;
    letter-spacing: 2px;
    text-align: left;
    font-size: 18px;
    padding: 0px 5px 0px 10px;
}
.Template-SideText {
    color: #192536;
    font: "Liberation Sans Narrow";
    float: left;
    text-align: left;
    margin: 440px 10px 10px 20px;
    padding: 50px;
    max-width: 100%;
    min-width: 75%;
    min-height: 80px;
    z-index: 1;
    /*background: blue;*/
}
.Template-SideTextSub {
    max-width: 95%;
    padding: 35px 0px 0px 0px;
    /*background: green;*/
}

.Template-ParagraphHeader {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin: 0px 30px 0px 0px;
    /*background: red;*/
}

.Template-ParagraphSubHeader {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin: 0px 150px 0px 5px;
    /*background: yellow;*/
}
.Template-ParagraphText {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 10px 10px 10px 20px;
    padding: 10px 10px 5px 20px;
    max-width: 70%;
    min-width: 45%;
    /*background: cyan;*/
}

.Template-ParagraphImage {
    position: relative;
    width: 280px;
    float: right;
    margin: 10px 100px 0px 10px;
    padding: 10px 10px 10px 10px;
    /*background: magenta;*/
}