.MainBody {
    background-color: #FEFEFF;
}
.MainHeadline {
    background-color: #10F0F5;
    color: white;
    height: 120px;
}
.HeadField02 {
    position: fixed;
    color: #202020;
    background: #D0D0D0;
    z-index: 1;
}

.Site-Logo-01 {
    float: left;
    width: 70px;
    height:70px;
    border: 0px solid #73AD21;
    padding: 5px;
    margin: 10px 0px 0px 40px;   /* top right bottom left */
    transform: rotateY(180deg);
    z-index: 2;
}
.Site-Logo-02 {
    float: left;
    width: 10px;
    height:90px;
    border: 0px solid #73AD21;
    padding: 2px;
    margin: 5px 0px 0px 10px;
    transform: rotateY(180deg);
    z-index: 2;
}
.MainHeadline {
    color: #505050;
    float: left;
    font: "Calibri";
    font-size: 18px;
    border: 0px solid #73AD21;
    padding: 5px;
    margin: 5px 0px 0px 10px;
    background: none;
    z-index: 2;
}
.Main-Logo {
    color: #5080B0;
    float: right;
    font: "Liberation Sans Narrow";
    letter-spacing: 3px;
    text-align: center;
    padding: 1px;
    height: 50px;
    width: 420px;
    margin: 80px 30px 10px 10px;
    background: #D8DADF;
    box-sizing: border-box;
    border: 3px solid #D8DADF;
    border-radius: 5px;
    font-size: 28px;
    z-index: 2;
/*  box-shadow: 5px 8px #B0B3B5; */
}
.SiteMenu {
    float: left;
    color: #505050;
    font: "Calibri";
    font-size: 18px;
}
.SiteMenu a {
    float: left;
    color: #505070;
    font: "Calibri";
    font-size: 14px;
}

.Main-Image-01 {
    float: left;
    width: 900px;
    height: 550px;
    padding: 0px;
    margin: 20px 20px 20px 20px;
    background: #D8DADF;
    box-sizing: border-box;
    border: 5px solid #D8DADF;
    border-radius: 5px;
    body style: background;
    position: fixed;
    left: 20px;
    top: 200px;
    z-index: 1;
}
.SiteMenu {
    float: left;
    padding: 10px;
    margin: 10px 10px 10px 20px;
    background: none;
    position: fixed;
    left: 20px;
    top: 130px;
}
.HeadlineText {
    color: #802040;
    float: left;
    font: "Liberation Sans Narrow";
    letter-spacing: 2px;
    text-align: left;
    padding: 10px;
    height: 60px;
    width: 480px;
    margin: 20px 20px 20px 20px;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 4px solid #802040;
    border-radius: 5px;
    font-size: 24px;
    z-index: 2;
    position: fixed;
    left: 800px;
    top: 195px;
}
.MainSlugHead {
    color: #802040;
    float: left;
    font: "Liberation Sans Narrow";
    letter-spacing: 2px;
    text-align: left;
    font-size: 24px;
}

.MainSlugText {
    color: #DFDFDF;
    background: #802040;
    margin 15px;
    padding: 15px;
    float: left;
    font: "Liberation Sans Narrow";
    letter-spacing: 1px;
    text-align: left;
    font-size: 16px;
}
.MainSluglink {
    color: #DFDFDF;
    background: #802040;
    margin 15px;
    padding: 15px;
    float: left;
    font: "Liberation Sans Narrow";
    letter-spacing: 1px;
    text-align: left;
    font-size: 16px;
}
.VideoMainScreen01 {
    /*float: center;
    width: 800px;
    height: 450px;
    border: 1px solid #73AD21;
    padding: 10px;*/
    border: 3px solid #365810;
    background #202025;
    height: 150px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.IntroText01 {
    position: absolute;
    float: right;
    padding (40%,40%,40%,40%);
}


/* ***************************** Menü ************************** */

.menu, .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu {
    background: #999999;
    height: 25px;
    position: fixed;
    top: 7px;
    right: 0px;

}
.menu li {
    background: -moz-linear-gradient(#F3F3F3, #FAFAFC); /* #D9D9D9 , #E5E5EF */
    background: -ms-linear-gradient(#F3F3F3, #FAFAFC);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D9D9D9), color-stop(100%, #E5E5E5));
    background: -webkit-linear-gradient(#F3F3F3, #FAFAFC);
    background: -o-linear-gradient(#F3F3F3, #FAFAFC);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D9D9D9', endColorstr='#E5E5EF');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#D9D9D9', endColorstr='#E5E5EF')";
    background: linear-gradient(#F3F3F3, #FAFAFC);
    border-bottom: 1px solid #F0F0F0;
    border-top: 1px solid #F0F0F0;
    min-width: 100px;
}
.menu > li {
    display: block;
    float: left;
    position: relative;
    fon
}
.menu > li:first-child {
    border-radius: 3px 0px 0px 3px;
}
.menu > li:last-child {
    border-radius: 0px 3px 3px 0px;
}

.menu a {
    border-left: 3px solid rgba(0, 0, 0, 0);
    color: #303030;
    display: block;
    /*font-family: 'Lucida Console';*/
    font-family: 'Calibri';
    font-size: 15px;
    line-height: 30px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: capitalize;
}

/*-------------------------------------*/

.menu li:hover {
    background-color: #B0B0B3; /* #B0B0B3 */
    background: -moz-linear-gradient(#B0B0B3, #A0A0A3);
    background: -ms-linear-gradient(#B0B0B3, #A0A0A3);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #B0B0B3), color-stop(100%, #A0A0A3));
    background: -webkit-linear-gradient(#B0B0B3, #A0A0A3);
    background: -o-linear-gradient(#B0B0B3, #A0A0A3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B0B0B3', endColorstr='#A0A0A3');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#B0B0B3', endColorstr='#A0A0A3')";
    background: linear-gradient(#B0B0B3, #A0A0A3);
    border-bottom: 1px solid #222222;
    border-top: 1px solid #A0A0A3;
}
.menu li:hover > a {
    border-radius: 2px 0 0 0;
    /*border-left: 3px solid #C4302B;*/
    border-left: 1px solid #A0A0A0;
    border-right: 1px solid #A0A0A0;
    border-top: 1px solid #A0A0A0;
    border-bottom: 1px solid #A0A0A0;
    /* color: #C0C0D0; */
    color: #103070;
}
/* submenu styles */
.submenu {
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    z-index: 0;
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}
.submenu li {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transition: opacity .4s, -webkit-transform .5s;
    -moz-transition: opacity .4s, -moz-transform .5s;
    -ms-transition: opacity .4s, -ms-transform .5s;
    -o-transition: opacity .4s, -o-transform .5s;
    transition: opacity .4s, transform .5s;
}
.menu .submenu li:hover a {
    border-left: 3px solid #454545;
    border-radius: 0;
    color: #ffffff;
}
.menu > li:hover .submenu, .menu > li:focus .submenu {
    max-height: 2000px;
    z-index: 10;
}
.menu > li:hover .submenu li, .menu > li:focus .submenu li {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}


/* CSS3 delays for transition effects */
.menu li:hover .submenu li:nth-child(1) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.menu li:hover .submenu li:nth-child(2) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.menu li:hover .submenu li:nth-child(3) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.menu li:hover .submenu li:nth-child(4) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.menu li:hover .submenu li:nth-child(5) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.menu li:hover .submenu li:nth-child(6) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.menu li:hover .submenu li:nth-child(7) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.menu li:hover .submenu li:nth-child(8) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}
.submenu li:nth-child(1) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}
.submenu li:nth-child(2) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.submenu li:nth-child(3) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.submenu li:nth-child(4) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.submenu li:nth-child(5) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.submenu li:nth-child(6) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.submenu li:nth-child(7) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.submenu li:nth-child(8) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

