.MainBody {
    background-color: #0EFEFF;
}
.MainHeadline {
    background-color: #10F0F5;
    color: white;
    height: 140px;
}
.PageHead {
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 0px;
    color: #202020;
    background: #F4F4F6;
    z-index: 0;
    width: 100%
}

.Site-Logo-01 {
    float: left;
    width: 70px;
    height:70px;
    border: 0px solid #73AD21;
    padding: 5px;
    margin: 25px 0px 0px 40px;   /* top right bottom left */
    transform: rotateY(180deg);
    z-index: 2;
}
.Site-Logo-02 {
    float: left;
    width: 10px;
    height:90px;
    border: 0px solid #73AD21;
    padding: 2px;
    margin: 15px 0px 0px 10px;
    transform: rotateY(180deg);
    z-index: 2;
}
.MainHeadline {
    color: #505050;
    float: left;
    font: "Calibri";
    font-size: 18px;
    border: 0px solid #73AD21;
    padding: 5px;
    margin: 15px 0px 0px 10px;
    background: none;
    z-index: 2;
}
.Main-Logo {
    color: #5080B0;
    float: right;
    font: "Liberation Sans Narrow";
    letter-spacing: 3px;
    text-align: center;
    padding: 1px;
    height: 50px;
    width: 420px;
    margin: 80px 30px 10px 10px;
    background: #D8DADF;
    box-sizing: border-box;
    border: 3px solid #D8DADF;
    border-radius: 5px;
    font-size: 28px;
    z-index: 2;
/*  box-shadow: 5px 8px #B0B3B5; */
}
.SiteMenu {
    float: left;
    color: #505050;
    font: "Calibri";
    font-size: 18px;
}
.SiteMenu a {
    float: left;
    color: #505070;
    font: "Calibri";
    font-size: 14px;
}

.Main-Image-01 {
    float: left;
    width: 900px;
    height: 550px;
    padding: 0px;
    margin: 20px 20px 20px 20px;
    background: #D8DADF;
    box-sizing: border-box;
    border: 5px solid #D8DADF;
    border-radius: 5px;
    body style: background;
    position: fixed;
    left: 20px;
    top: 200px;
    z-index: 1;
}
.SiteMenu {
    float: left;
    padding: 10px;
    margin: 10px 10px 10px 20px;
    background: none;
    position: fixed;
    left: 20px;
    top: 130px;
}
.HeadlineText {
    color: #802040;
    float: left;
    font: "Liberation Sans Narrow";
    letter-spacing: 2px;
    text-align: left;
    padding: 10px;
    height: 60px;
    width: 550px;
    margin: 20px 20px 20px 20px;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 4px solid #802040;
    border-radius: 5px;
    font-size: 24px;
    z-index: 2;
    position: fixed;
    left: 800px;
    top: 195px;
}
.MainSlugHead {
    color: #802040;
    float: left;
    font: "Liberation Sans Narrow";
    letter-spacing: 2px;
    text-align: left;
    font-size: 24px;
}

.MainSlugText {
    color: #DFDFDF;
    background: #802040;
    margin 15px;
    padding: 15px;
    float: left;
    font: "Liberation Sans Narrow";
    letter-spacing: 1px;
    text-align: left;
    font-size: 16px;
}
.MainSluglink {
    color: #DFDFDF;
    background: #802040;
    margin 15px;
    padding: 15px;
    float: left;
    font: "Liberation Sans Narrow";
    letter-spacing: 1px;
    text-align: left;
    font-size: 16px;
}
.SidelineText {
    color: #4F4F4F;
    margin 50px 10px 10px 10px;
    padding: 15px;
    float: right;
    font: "Liberation Sans Narrow";
    letter-spacing: 1px;
    text-align: left;
    font-size: 20px;
    z-index: 3;
    position: fixed;
    left: 1050px;
    top: 475px;
    width: 30%;

}
.VideoMainScreen01 {
    /*float: center;
    width: 800px;
    height: 450px;
    border: 1px solid #73AD21;
    padding: 10px;*/
    border: 3px solid #365810;
    background #202025;
    height: 150px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.IntroText01 {
    position: absolute;
    float: right;
    padding (40%,40%,40%,40%);
}

